<div class="jumbotron">
<h1>Hello and Welcome to my ActionMailer App.</h1>
<p>This app use mandrill to sent automatic email:</p>
<u>
	<li> to the user when a post is created; </li>
	<li> to the post owner when a comment is created.</li>
</u>
<br/>
<%= link_to "Try it out now", new_user_registration_path, class: "btn btn-primary btn-lg"%>
</div>